<% layout('layouts/boilerplate') %>

    <div class="container">
        <h2>Photos</h2>
        <form action="/settings/images" method="post" class="row" enctype="multipart/form-data">
            <div class="my-3">
                <label for="formFile text-nowrap" class="form-label">Upload images:</label>
                <input class="form-control" type="file" id="formFile" onchange="changeBg(this.id)" name="images" multiple>
            </div>
            <% for( let index=0; index < 5; index++ ) { %>
                <div class="d-flex col justify-content-center my-3">
                    <div class="<%= user.images[index]? 'full' :'empty' %>" id="<%= index %>">
                        <% if (user.images[index]) { %>
                            <img src="<%= user.images[index].url %>" alt="..." class="image" />
                            <div class="d-flex justify-content-center m-3">
                                <input type="checkbox" name="deleteImages[]" id="file-<%= index %>" class="btn-check"
                                    value="<%= user.images[index].filename %>" hidden>
                                <label for="file-<%= index %>" class="btn btn-outline-secondary"><i
                                        class="bi bi-trash small-icon"></i></label>
                            </div>

                            <% } else { %>
                                <i class="bi bi-person-fill big-icon"></i>
                                <% } %>
                    </div>
                </div>
                <% } %>
                    <div class="container">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
        </form>
    </div>

    <script>
        function changeBg(id) {
            const input = document.querySelector(`#${id}`);
            const empty = document.querySelectorAll(".empty");
            let index = 0;
            const limit = input.files.length;

            empty.forEach(el => {
                const div = document.getElementById(`${el.id}`);

                if (index < limit) {

                    div.innerHTML = "";
                    let url = URL.createObjectURL(input.files[index]);
                    let image = document.createElement("img");
                    image.src = url;
                    image.classList.add("image");

                    div.appendChild(image);
                    div.innerHTML = div.innerHTML;
                    div.classList.replace("empty", "full");
                }
                index++;
            });
        }
    </script>