<% layout('layouts/boilerplate') %>

<% const filter = user.filter %>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Filter</h5>
        <ul class="list-group list-group-flush">
            <% if (filter.sex && filter.sex !="" ) { %>
            <li class="list-group-item">
                Sex: <%= filter.sex %> <% } else { %>
            </li>

            <li class="list-group-item text-muted">Sex: <% } %></li>

            <% if (filter.user_orientation && filter.user_orientation != "") {
            %>
            <li class="list-group-item">
                Orientation: <%= filter.user_orientation %> <% } else { %>
            </li>

            <li class="list-group-item text-muted">Orientation: <% } %></li>

            <% if (filter.years.years_to && filter.years.years_from) { %>
            <li class="list-group-item">
                Years: <%= filter.years.years_from %> to <%=
                filter.years.years_to %> <% } else { %>
            </li>

            <li class="list-group-item text-muted">Years: <% } %></li>

            <% if (filter.relationshipStatus && filter.relationshipStatus != "")
            { %>
            <li class="list-group-item">
                Relationship Status: <%= filter.relationshipStatus %> <% } else
                { %>
            </li>

            <li class="list-group-item text-muted">
                Relationship Status: <% } %>
            </li>

            <% if (filter.bodyType && filter.bodyType != "") { %>
            <li class="list-group-item">
                Body Type: <%= filter.bodyType %> <% } else { %>
            </li>

            <li class="list-group-item text-muted">Body Type: <% } %></li>
        </ul>
        <a href="/settings/filter" class="btn btn-primary mt-2">Edit</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Photos</h5>
        <ul class="list-group list-group-flush">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                <% if (user.images && user.images.length != 0) { %>
                    <% user.images.map(img => { %>
                    <div class="col d-inline-flex">
                        <div class="card">
                            <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="..." />
                        </div>
                    </div>
                <% }); } %>
            </div>
        </ul>
        <a href="/settings/images" class="btn btn-primary mt-2">Edit</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Delete profile</h5>
        <% if(currentUser && user.equals(currentUser)) {%>
            <form action="/users/<%= user._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete profile</button>
            </form>
        <% } %>
    </div>
</div>
