<% layout('layouts/boilerplate') %>

    <section class="container d-flex justify-content-center col-6 offset-3">
        <% if (user) { %>
        <div class="card" style="width: 25rem;">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <% const length = (user.images.length === 0)? 1:user.images.length; %> 
                <div class="carousel-indicators">
                    <% for( let index = 0; index < length; index++ ) { %>
                        <% if (length > 1) { %>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= index %>" class="active"
                                aria-current="true" aria-label="Slide <%= index + 1 %>"></button>
                        <% } %>
                    <% } %>
                </div>
                <div class="carousel-inner">
                <% for( let index = 0; index < length; index++ ) { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <img src="<%= user.images[index]? user.images[index].url:"../images/yuriy-mlcn-3MORfl6x1Yg-unsplash.jpg" %>" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h3><%= user.username %> <%= user.years %> <a href="/users/<%= user._id %>"><i class="bi bi-info-circle-fill text-light"></i></a></h5>
                                <% if (index === 0 && user.description) { %>
                                    <p class="text-truncate"><%= user.description %></p>
                                <% } else if (index === 1 && user.tags) { %>
                                    <p>
                                        <% user.tags.forEach(element => { %>
                                            <span class="badge rounded-pill bg-secondary">
                                                <%= element.title %>
                                            </span>
                                        <% }); %>
                                    </p>
                                <% } else if (index === 2 && user.orientation && user.sex) { %>
                                    <p>
                                        <%= user.orientation %>
                                            <%= user.sex %>
                                    </p>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
                <% if (user.images.length > 1) { %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                <% } %>
            </div>
            <div class="card-body d-flex justify-content-evenly">
                <a href="/users/discover/<%= user._id %>/true" class="btn btn-success display-4"><i class="bi bi-heart-fill"></i>
                    Yeaaa</a>
                <a href="/users/discover/<%= user._id %>/false" class="btn btn-danger display-4"><i class="bi bi-x-circle"></i>
                    Naaah</a>
            </div>
        </div>
        <% } else {%>
            <div class="alert alert-light">
                <h3>WOW no users match your <a href="/settings/filter" class="alert-link">filter</a>. Maybe you
                    should change it.</h3>
            </div>
        <% } %>
    </section>