<% layout('layouts/boilerplate') %>

<section class="container">
    <div class="container">
        <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
        >
            <div class="carousel-inner" style="width: 20rem;">
                <% user.images.forEach((image, i) => { %>
                    <div class="carousel-item  <%= i === 0 ? 'active' : '' %>">
                        <img src="<%= image.url %>" class="d-block w-100" alt="..." />
                    </div>
                <% }); %>
            </div>
            <% if (user.images.length > 1) { %>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                </button>
            <% } %>
        </div>
    </div>
    <div class="container">
        <h2><%= user.username %> <%= user.years %> <h5>Level: <%= user.level %></h5></h2>
        <p><%= user.description %></p>
        <section>
            <% for( let tag of user.tags ) { %>
                <span class="badge rounded-pill bg-secondary">
                    <%= tag.title %>
                </span>
            <% } %>
        </section>
        <section>
            <ul>
                <li>Sex:<%= user.sex %></li>
                <li>Work:<%= user.work %></li>
                <li>Orientation:<%= user.orientation %></li>
                <li>Position:<%= user.position %></li>
                <li>Height:<%= user.height %></li>
                <li>Weight:<%= user.weight %></li>
                <li>BodyType:<%= user.bodyType %></li>
                <li>RelationshipStatus:<%= user.relationshipStatus %></li>
                <li>NSFW:<%= user.nsfw %></li>
            </ul>
        </section>
        <% if(currentUser && user.equals(currentUser)) {%>
        <a href="/users/<%= user._id %>/edit">Edit</a>
        <% } %>
    </div>
</section>
